@page "/login"
@using System.ComponentModel.DataAnnotations
@using MAgistrFront.Infrastructure
@inject HttpClient Http

@inherits LoginViewModel


<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="username-input">Логин</label>
        <InputText id="username-input" class="form-control" @bind-Value="loginModel.Username" />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="password-input">Пароль</label>
        <InputText id="password-input"  class="form-control" @bind-Value="loginModel.Password" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</EditForm>

<style>
    article.content {
        display: flex;
        justify-content: center;
    }

    form {
        width: 300px;
    }

    .form-label {
        margin-bottom: .2rem;
    }

    .btn.btn-primary {
        width: 100%;
        font-variant: all-small-caps;
    }
</style>

