<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">История Кркасноярского Края</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Авторизация

            </NavLink>

        </div>

       
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="yandex-map">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Карта Исторических событий

            </NavLink>

        </div>
        
        <AuthorizeView>
        <Authorized>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="HistoryPersons">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Список исторических личностей
            </NavLink>

        </div>

             <div class="nav-item px-3">
            <NavLink class="nav-link" href="HistoryEvents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Список исторических событий
            </NavLink>

        </div>

        
        <div class="nav-item px-3">
        <NavLink href="ChartWorksByUser" Match="NavLinkMatch.All"><span class="oi oi-list-rich" aria-hidden="true"></span>График авторы событий</NavLink>
         </div>

            

        <div class="nav-item px-3">
        <NavLink href="ChartHystoryPersonsEvents" Match="NavLinkMatch.All"><span class="oi oi-list-rich" aria-hidden="true"></span>График Участие исторических личностей в событиях</NavLink>
         </div>
         

          <div class="nav-item px-3">
        <NavLink href="linechart" Match="NavLinkMatch.All"><span class="oi oi-list-rich" aria-hidden="true"></span>График Исторических событий в регионах</NavLink>
         </div>

         <div class="nav-item px-3">
        <NavLink href="Admin" Match="NavLinkMatch.All"><span class="oi oi-list-rich" aria-hidden="true"></span>Админка</NavLink>
         </div>
          <div class="nav-item px-3">
        <NavLink href="report1" Match="NavLinkMatch.All"><span class="oi oi-list-rich" aria-hidden="true"></span>Отчет по периодам</NavLink>
         </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LogOf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Выход
            </NavLink>

        </div>
        </Authorized>
        <NotAuthorized>
           <RedirectToLoginComponent/>
        </NotAuthorized>
</AuthorizeView>

      
              
      
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
